<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Base</title>
        <link rel="stylesheet" href="{% static 'App/css/bootstrap.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <h2 class="text-center alert alert-danger">Employee Registration Form</h2>
            {% block content %} {% endblock content %}
        </div>
        <script src="{% static 'App/js/jquery.js' %}"></script>
        <script src="{% static 'App/js/bootstrap.js' %}"></script>
        <script src="{% static 'App/js/popper.js' %}"></script>
    </body>
</html>